<div class="container landingImage" data-type="single">

    <div class="row options"> 
        <h7 data-toggle="tooltip" data-placement="left" title="" >Content type: Single Image</h7>
        <form-options></form-options>
    </div>

    <div class="row" data-lang="eng">

        <h4>English</h4>
        
        <div class="row">
            <label class="col-md-2">Image Path :</label>
            <input class="col-md-6" name="pathImg" type="text" name="img" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0">
            <input type="checkbox" value="" checked> In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>

        <div class="row">
            <label class="col-md-2">SEO :</label>
            <input class="col-md-6" name="seoImg" type="text" name="alt" placeholder="alt='text'" >
        </div>

        <div class="row">
            <label class="col-md-2">Link :</label>
            <input class="col-md-6" name="linkImg" type="text" name="link" placeholder="https://www...." onblur="checkLink(this)">
        </div>
    </div>


    <div class="row" data-lang="fr">
        <h4>French</h4>
        
        <div class="row">
            <label class="col-md-2">Image Path :</label>
            <input class="col-md-6" name="pathImgFR" type="text" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0" required>
            <input type="checkbox" value="" checked> In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        
        <div class="row">
            <label class="col-md-2">SEO :</label>
            <input class="col-md-6" name="seoImgFR" type="text" placeholder="alt='text'" required>
        </div>
    </div>


    <div class="row" data-lang="cta">
        <h6>Add CTA button</h6>   
        <cta-form></cta-form>
        
        <!--
        <div>
           <h6>Add Title Over The Picture  <span class="glyphicon glyphicon-info-sign"></span> </h6>
            English<br><text-eng></text-eng>
            French<br><text-fr></text-fr>
        </div> 
        -->
        
    </div>
    
    <div class="row options">
        <close-form></close-form>
    </div>
    
</div>