
        <!-- ROW START #{{i}}-->
        <div class="wrapper">
            <!-- Start Left --> 
           <div class="lp-container-HBL" style="height:{{heightLeft}}px; ">
             <!-- Change BACKGROUND IMAGE here -->
              <div class="lp-bkg half FLbackgroundpos-001" style="background-image: url({{imageLeft}}); background-repeat:no-repeat; height:{{heightLeft}}px;">
                 <div style="width:100%; height:{{heightLeft}}px;">
                    <a target="_top" title="{{seoLeft}}" href="{{linkLeft}}">
                       <img src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" width="100%" alt="{{seoLeft}}" style="height:{{heightLeft}}px;" />
                    </a>
                 </div>
              </div>
              <div class="cb-table-full" style="height:{{heightLeft}}px">
                 <div class="cb-table-column" style="">
                    <div class="cb-text-holder half" style="margin-top:460px;">
                       <div class="cb-text" style="padding:0;">
                          <!-- Change Text here -->
                           <a style="" target="_top" class="button regular" title="{{seoLeft}}" href="{{linkLeft}}">
                           {{ctaLeft}}
                           </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- End Left -->

           <!-- Start Right --> 
           <div class="lp-container-HBR" style="height:{{heightRight}}px; ">
             <!-- Change BACKGROUND IMAGE here -->
              <div class="lp-bkg half FLbackgroundpos-002" style="background-image: url({{imageRight}}); background-repeat:no-repeat; height:{{heightRight}}px;">
                 <div style="width:100%; height:{{heightRight}}px;">
                    <!-- Change LINK here -->         
                     <a target="_top" title="{{seoRight}}" href="{{linkRight}}">
                         <img src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" width="100%" alt="{{seoRight}}" style="height:{{heightRight}}px;" />       
                     </a>
                 </div>
              </div>
              <div class="cb-table-full" style="height:{{heightRight}}px">
                 <div class="cb-table-column" style="">
                    <div class="cb-text-holder half" style="margin-top:460px;">
                       <div class="cb-text" style="padding:0;">
                          <!-- Change Text here--> 
                           <a target="_top" class="button regular" title="{{seoRight}}" href="{{linkRight}}">
                               {{ctaRight}}
                           </a>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- End Right -->
        </div>
        <!-- ROW END #{{i}} -->

