<div class="container landingImage" data-type="itemsSale">
    
    <div class="row options"> 
        <h7 data-toggle="tooltip" data-placement="left" title="" >Content type: Items Row</h7>
        <form-options></form-options>
    </div>
    
    
    <div class="row">
      <h4>Left Image</h4>

       <div class="row">
            <label class="col-md-2">English Image</label>
            <input class="col-md-6" name="pathImgLeftENG" type="text" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0">
            <input type="checkbox" value="" checked> In Scene 7 <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        
        <div class="row">
            <label class="col-md-2">English SEO</label>
            <input class="col-md-6" name="seoLeftENG" type="text" name="title" placeholder="Enter ENGLISH SEO for left image">
        </div>

        <div class="row">
            <label class="col-md-2">English CTA text</label>
            <input class="col-md-6" name="ctaLeftENG" type="text" name="alt" placeholder="Enter ENGLISH CTA TEXT for left image">
        </div>        
        <br><br>
        
        <div class="row">
            <label class="col-md-2">French Image</label>
            <input class="col-md-6" name="pathImgLeftFR" type="text" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0">
            <input type="checkbox" value="" checked> In Scene 7 <span class="glyphicon glyphicon-eye-open"></span>
        </div>
        
        <div class="row">
            <label class="col-md-2">French SEO</label>
            <input class="col-md-6" name="seoLeftFR" type="text" name="alt" placeholder="Enter FRENCH SEO for left image">
        </div>
        
        <div class="row">
            <label class="col-md-2">French CTA text</label>
            <input class="col-md-6" name="ctaLeftFR" type="text" name="alt" placeholder="Enter FRENCH CTA TEXT for left image">
        </div>
        <br>
        
        <div class="row">
            <label class="col-md-2">Link for LEFT image</label>
            <input class="col-md-6" name="linkImgLeft" type="text" name="link" placeholder="https://www...." onblur="checkLink(this)">
        </div>
        <br><br>
    </div>

    

     <div class="row">
        <h4>Right Image</h4>
         
        <div class="row">
            <label class="col-md-2">English Image</label>
            <input class="col-md-6" name="pathImgRightENG" type="text" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0">
            <input type="checkbox" value="" checked> In Scene 7 <span class="glyphicon glyphicon-eye-open"></span>
        </div>
         
        <div class="row">
            <label class="col-md-2">English SEO</label>
            <input class="col-md-6" name="seoRightENG" type="text" name="title" placeholder="Enter ENGLISH SEO for right image">
        </div>
         
        <div class="row">
            <label class="col-md-2">English CTA text</label>
            <input class="col-md-6" name="ctaRightENG" type="text" name="alt" placeholder="Enter ENGLISH CTA TEXT for right image">
        </div>        
        <br><br>
         
        <div class="row">
            <label class="col-md-2">French Image</label>
            <input class="col-md-6" name="pathImgRightFR" type="text" placeholder="https://lechateau.scene7.com/is/image/LeChateau/" onblur="imgChange(this)" data-height="0">
            <input type="checkbox" value="" checked> In Scene 7 <span class="glyphicon glyphicon-eye-open"></span>
        </div>

        <div class="row">
            <label class="col-md-2">French SEO</label>
            <input class="col-md-6" name="seoRightFR" type="text" name="alt" placeholder="Enter FRENCH SEO for right image">
        </div>
         
         <div class="row">
            <label class="col-md-2">French CTA text</label>
            <input class="col-md-6" name="ctaRightFR" type="text" name="alt" placeholder="Enter FRENCH CTA TEXT for right image">
        </div>
        <br>        

        <div class="row">
            <label class="col-md-2">Link for RIGHT image</label>
            <input class="col-md-6" name="linkImgRight" type="text" name="link" placeholder="https://www...." onblur="checkLink(this)">
        </div>
         <br><br>
    </div>
    

  
    <div class="row options">
       <close-form></close-form>
    </div>
    
</div>