<div class="container landingImage" data-type="catPromo">
    
    <div class="row options"> 
        <h7 data-toggle="tooltip" data-placement="left" title="" >Content type: Category Promotion</h7>
        <form-options></form-options>
    </div>
    

    <div class="row" data-lang="eng">
        <h4>English</h4>
        <hr>
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='img' data-lang='eng' class='col-md-6 form-control' placeholder='Enter the English picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <!--    
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seo' data-lang='eng' class='form-control' placeholder='Enter English SEO' >
        </div>
        <br> -->
        <div class="row">
          <label>Terms :</label><br>
          <input type='text' name='terms' data-lang='eng' class='form-control' value="https://www.lechateau.com/style/html/terms/promos/FILENAME.html" placeholder='Enter the name of the file' >
        </div>
        <br>
    </div>    
   
    
    <div class="row" data-lang="fr">
        <h4>French</h4>
        <hr>
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='img' data-lang='fr' class='col-md-6 form-control' placeholder='Enter the French picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <!-- 
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seo' data-lang='fr' class='form-control' placeholder='Enter French SEO' >
        </div>
        <br> -->
        <div class="row">
          <label>Terms :</label><br>
          <input type='text' name='terms' data-lang='fr' class='form-control' value="https://www.lechateau.com/style/html/terms/promos/FILENAME.html" placeholder='Enter the name of the file' >
        </div>    
        <br>
    </div>
    
    
    <div class="row">
        
         <div class="row">
            <lable>Background-color:</lable><br>
            <input type="color" name="color" value="#5d5c60"/><br><br>
        </div>
        
        <div class="row">
              <label data-toggle="tooltip" data-placement="left" title="If checked, the background will be the picture, if not it will be the color.">
                  <input type="checkbox" name="useBG" value="">Background-image:
              </label>
             <br><br>
              
               <div class="row">
                <input type='text' name='bgImg' data-lang='eng' class='col-md-6 form-control' placeholder='Enter the English picture name' onblur='imgChange(this)'>
                <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span><br><br>
               </div>
                
               <div class="row">
                <input type='text' name='bgImg' data-lang='fr' class='col-md-6 form-control' placeholder='Enter the French picture name' onblur='imgChange(this)'>
                <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span><br><br>
              </div>   
        </div>
        
    </div>
    
    
    <div class="row options">
       <close-form></close-form>
    </div>
    
</div>