<div class="container landingImage" data-type="simpleImage">
    
    <div class="row options"> 
        <h7 data-toggle="tooltip" data-placement="left" title="" >Content type: Category Single Image</h7>
        <form-options></form-options>
    </div>
    

    <div class="row" data-lang="eng">
        <h4>English</h4>
        
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='img' data-lang='eng' class='col-md-6 form-control' placeholder='Enter the English picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seo' data-lang='eng' class='form-control' placeholder='Enter English SEO' >
        </div>    
        <br>
        <!--
        <div class="row">
          <label>Text Over image :</label><br>
          <input type='text' name='text' data-lang='eng' class='form-control' placeholder='Enter text' >
        </div>
        -->
    </div>    

    
    <div class="row" data-lang="fr">
        <h4>French</h4>
        
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='img' data-lang='fr' class='col-md-6 form-control' placeholder='Enter the French picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seo' data-lang='fr' class='form-control' placeholder='Enter French SEO' >
        </div>    
        <br>
        <!--
        <div class="row">
          <label>Text Over image :</label><br>
          <input type='text' name='text' data-lang='fr' class='form-control' placeholder='Enter text' >
        </div> 
        -->
    </div>
    
    
     <div class="row options">
       <close-form></close-form>
    </div>
    
    
</div>