<div class="container landingImage" data-type="simpleImageLink">
    
    <div class="row options"> 
        <h7 data-toggle="tooltip" data-placement="left" title="" >Content type: Single Image with Preview Link</h7>
        <form-options></form-options>
    </div>
    
	
	  <div class="row">
        <label>Preview Link :</label><br>
        <input type='text' name='linkPreview' class='col-md-6 form-control' placeholder='Link to the category (https://www..)' onblur='prevLink(this)'>	
	  </div>

	  
      <div class="row">
        <h4>English</h4>
        
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='imageENG' data-lang='eng' class='col-md-6 form-control' placeholder='Enter the English picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seoENG' data-lang='eng' class='form-control' placeholder='Enter English SEO' >
        </div>    
        <br>
      </div>    

    
      <div class="row">
        <h4>French</h4>
        
        <div class="row">
          <label>Image Picture :</label><br>
          <input type='text' name='imageFR' data-lang='fr' class='col-md-6 form-control' placeholder='Enter the French picture name' onblur='imgChange(this)'>
          <input type='checkbox' value='' checked=''>In Scene 7<span class="glyphicon glyphicon-eye-open"></span>
        </div>
        <br>
        <div class="row">
          <label>SEO :</label><br>
          <input type='text' name='seoFR' data-lang='fr' class='form-control' placeholder='Enter French SEO' >
        </div>    
        <br>
      </div>
    
    
     <div class="row options">
       <close-form></close-form>
    </div>
    
    
</div>