
    {{#page}}
    <!-- COPY ONLY THIS CSS FOR BCC  <link rel="stylesheet" type="text/css" href="//www.lechateau.com/style/html/landing/assets/css/lc-category-banners-V2.css"><style type="text/css">.wrapper{padding:0!important;margin-bottom:0!important}@media(max-width:767px){#catBanner,.categoryBanner{display:inline!important}}</style> -->
    
    {{/page}}
    <!-- Start Banner -->
    <div class="wrapper" style="text-align:center; {{bgColor}}">
      <a title="{{termsSEO}}" href="{{terms}}" target="_blank" onfocus="this.blur()" onclick="NewWindow(this.href,'mywin','320','193','yes','center');return false">
        <img  src="{{image}}" alt="" />
      </a>
    </div>
    <!-- End Banner -->