		<!-- BANNER START  -->
              <div class="wrapper"  style="max-width:1025px; margin-bottom:0px; display: block; margin: auto; width:100%;">
                <div class="lp-container-FB" style="height:{{height}}px;">
                  <div class="lp-bkg backgroundpos-001" style="background-image: url({{image}}); height:{{height}}px; width:100%; background-position-x: 50% !important; background-position: 50% !important; background-repeat: no-repeat;">
                   <!-- BLANK IMAGE -->
                    <div style="width:100%; height:{{height}}px;">
					  <a title="{{termsSEO}}" href="{{terms}}" target="_blank" onfocus="this.blur()" onclick="NewWindow(this.href,'mywin','320','193','yes','center');return false">
					    <img alt="" src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" style="height:{{height}}px" width="100%"> 
					  </a>
                    </div>
                   </div>
                   <!-- CTA -->
                   <div style="width:100%; margin-left:auto; margin-right:auto; line-height:{{height}}px; text-align:center;">
                     
                   </div>
                 </div>
			   </div>
            <!-- BANNER END -->