
    <!-- Start Banner -->
    {{#page}}<!-- COPY ONLY THIS CSS FOR BCC  <link rel="stylesheet" type="text/css" href="//www.lechateau.com/style/html/landing/assets/css/lc-category-banners-V2.css"> -->{{/page}}
    <div class="wrapper">
       <div style="position:absolute; z-index:2;">
            <a href="{{link}}">
                <img src="{{image}}" alt="{{seo}}"> <!-- Change Image here -->
            </a>
        </div>
        <div class="cb-table-half" style="height:{{height}}px;">
            <div class="cb-table-column">
                <div class="cb-text-holder" style="width:75%;">
                    <div class="cb-text"> <!-- Change Text here -->
                        <a target="_top" class="btn-lc regular" style="position:relative;{{style}}" title="{{seo}}" href="{{link}}">
                            {{cta}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->
