
		 <!--  Start Banner  -->
              <div class="wrapper" style="max-width: 1025px; margin-bottom:0px; position:relative; overflow:hidden;">              
			   <div class="cat-container-FB" style="height:{{height}}px;">                  
				  <div class="backgroundpos-cat" style="background-image: url({{image}}); height:{{height}}px;">                   
				   <!-- BLANK IMAGE -->
                    <div style="width:100%; height:{{height}}px;">
                      <a href="{{link}}" target="_top" title="{{seo}}">
                        <img alt="{{seo}}" src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" style="height:{{height}}px;" width="100%">
                       </a>
                     </div>					 
                   </div>
                   <!-- CTA -->
                   <div class="ctas" style="line-height:{{height}}px;">
                     <a class="btn-lc regular" style="position:relative; {{style}}" href="{{link}}" target="_top" title="{{seo}}"> {{cta}}</a>
                   </div>
                 </div>
               </div>
          <!--  End Banner  -->
		  
		  