    
  <!-- Preview Link -->
	<div style="width:100%; margin-left:auto; margin-right:auto; line-height:26px; text-align:center; background-color: #b1caee; text-transform: uppercase;">
      <a style="position:relative; top: 0px; z-index: 2;" href="{{linkPreview}}" target="blank" title="">
	  This links to this category : {{linkPreview}}</a>
    </div>	
	
    <!-- Start Banner - ENG -->
    <div class="wrapper">
      <div style="z-index:2;">
        <img src="{{imageENG}}" alt="{{seoENG}}"/>
      </div>
    </div>
    <!-- End Banner - ENG -->
	
    <!-- Start Banner - FR -->
    <div class="wrapper">
      <div style="z-index:2;">
        <img src="{{imageFR}}" alt="{{seoFR}}"/>
      </div>
    </div>
    <!-- End Banner - FR -->
	