
    <!-- Start Banner -->
    <div class="wrapper">
      <div style="position:absolute; z-index:2;">
        <img src="{{image}}" alt="{{seo}}"/>  <!-- Change Image here -->
      </div>
      <div class="cb-float-right cb-table-half" style="height:{{height}}px;">
        <div class="cb-table-column">
          <div class="cb-text-holder" style="width:75%;">
            <div class="cb-text">
              <h1 class="banner-tagline text-black" style="font-size:32px;">{{text}}</h1>  <!-- Change Text here -->
              <h3 class="banner-tagline text-black text-margin-bot">&#160;</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Banner -->
