
          <!-- ROW #{{i}} START  -->
            <div class="wrapper" style="background-image:url({{img}}); max-width:815px; height:{{imgHeight}}px; margin-bottom: 0px; background-position: 50% 50%;background-repeat: no-repeat;">

              <!-- Left Section - {{i}}A -->
                <div class="lp-container-HBL" style="height:{{imgHeight}}px;">
                  <div class="lp-bkg half">
                    <div style="width:100%; height:{{imgHeight}}px;">
                      <!-- LINK -->
                       <a target="_top" title="{{seoLEFT}}" href="{{linkLEFT}}">
                         <img src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" width="100%" alt="{{seoLEFT}}" style="height:{{imgHeight}}px;">
                       </a>
                     </div>
                   </div>
                   <!-- CTA -->
                   <div class="cb-table-full" style="width:100%; margin-left:auto; margin-right:auto; height:{{imgHeight}}px;">
                     <div class="cb-table-column">
                       <div class="cb-text-holder" style="width: inherit;">
                         <div class="cb-text" style="text-align:center;">
                           <span class="banner-title text-white" style=" font-family: MuseoSans-900; ">{{textLEFT}}</span>
                           {{ctaLEFT}}
                          </div>
                        </div>    
                     </div>
                   </div>
                 </div>
               <!-- End Left - {{i}}A -->

               <!-- Right Section - {{i}}B -->
                 <div class="lp-container-HBR" style="height:{{imgHeight}}px;">
                   <div class="lp-bkg half">
                     <div style="width:100%; height:{{imgHeight}}px;">
                       <!-- LINK -->
                       <a target="_top" title="{{seoRIGHT}}" href="{{linkRIGHT}}">
                         <img src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" width="100%" alt="{{seoRIGHT}}" style="height:{{imgHeight}}px;">
                        </a>
                      </div>
                    </div>
                   <!-- CTA -->
                 <div class="cb-table-full" style="width:100%; margin-left:auto; margin-right:auto; height:{{imgHeight}}px;">
                   <div class="cb-table-column">
                     <div class="cb-text-holder" style="width: inherit;">
                        <div class="cb-text" style="text-align:center;">
                         <span class="text-white banner-title" style=" font-family: MuseoSans-900; ">{{textRIGHT}}</span>
                          {{ctaRIGHT}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- End Right - {{i}}B -->
            </div>
          <!-- ROW #{{i}} END -->
