                    
          <!-- ROW #{{i}} START  -->
            <div class="wrapper" style="text-align:center; margin-bottom:-4px;">
              <img src="{{img}}" usemap="#Map{{i}}A" />
             <!-- ImageMap -->
              <map name="Map{{i}}A">
                <area shape="rect" coords="5,5,384,{{imgHeight}}" title="{{seoLEFT}}" alt="{{seoLEFT}}" href="{{linkLEFT}}">
				<area shape="rect" coords="395,5,766,{{imgHeight}}" title="{{seoRIGHT}}" alt="{{seoRIGHT}}" href="{{linkRIGHT}}">
			  </map>
            </div>
          <!-- ROW #{{i}} END -->
