
          <!-- ROW #{{i}} START  -->
            <div class="wrapper" style="text-align:center; margin-bottom:-4px;">
              <img src="{{img}}" usemap="#Map{{i}}-Mob" />
             <!-- ImageMap -->
              <map name="Map{{i}}-Mob">
                <area shape="rect" coords="0,0,296,{{imgHeight}}" title="{{seoLEFT}}" alt="{{seoLEFT}}" href="{{linkLEFT}}">
				<area shape="rect" coords="297,0,591,{{imgHeight}}" title="{{seoRIGHT}}" alt="{{seoRIGHT}}" href="{{linkRIGHT}}">
			  </map>
            </div>
          <!-- ROW #{{i}} END -->
