                
          <!-- ROW #{{ i }} START  -->
              <div class="wrapper" style="max-width:815px; margin-bottom:0px;">
                <div class="lp-container-FB" style="height:{{imgHeight}}px;">
                  <div class="lp-bkg backgroundpos-001" style="background-image: url({{img}}); height:{{imgHeight}}px;">
                   <!-- BLANK IMAGE -->
                    <div style="width:100%; height:{{imgHeight}}px;">
                      <a href="{{link}}" target="_top" title="{{title}}">
                        <img alt="{{SEO}}" src="https://www.lechateau.com/style/html/landing/assets/images/blank.png" style="height:{{imgHeight}}px" width="100%">
                       </a>
                     </div>
                   </div>
                   <!-- CTA -->
                   <div style="width:100%; margin-left:auto; margin-right:auto; line-height:{{imgHeight}}px; text-align:center;">
                     {{cta}}
                   </div>
                 </div>
               </div>
          <!-- ROW #{{i}} END -->
