
				<!-- ROW #{{ i }} START  -->
				<!-- START TABLET / MOBILE VIDEO -->
				<div class="wrapper" style="text-align:center;margin-bottom: 0;">
				  <div class="wrapper" style="margin-bottom:0;">
					<div class="embed-container" style="width:100%;">
					  <!-- Video -->
					  <iframe id="video{{i}}" allowfullscreen frameborder='0' src='https://player.vimeo.com/video/{{video}}?color=ffffff'></iframe>
					</div>
				  </div>
				</div>
				<!-- END TABLET / MOBILE VIDEO -->
				<!-- ROW #{{ i }} END -->
		  